.hero
  .hero-inner
    .hero-copy
      %h1 Hey there!
      %p
        I'm currently revamping my site. I haven't done much with it over the years and have lots of blog posts stored on other platforms so over next several weeks, I'll be migrating posts to this site.
      %h2
        Check back regularly for more!
      %ul
        %li.fa.fa-hand-spock-o.fa-5x
