= provide(:title, "About")
%article.post
  %h1 Hello...
  %h4 My name is Joe and ...
  %p
    I love gourmet soda. This website is my where I post all my soda reviews.
  %p
    You'll have to read my blog and subscribe to my list!
  -# = render 'site_signup_form'
