= provide(:title, "Please Confirm")
.article-wrapper
  %article.type-system-sans
    %h1 Thanks for your subscription!
    %h2 A confirmation email has been sent to your email. Click the link there to confirm your subscription!
    %hr/
    %p.author The PTO
