= provide(:title, "Thanks")
.article-wrapper
  %article.type-system-sans
    %h1 You're In!
    %h2 Thanks for signing up! You're all set.
    %h4 I'll send things periodically to remind you of my posts.
