= provide(:title, "Thanks")
.article-wrapper
  %article.type-system-sans
    %h1 Awesome!
    %h2 Thanks for your interest in knowing more about me!
    %h3 I'll email you shortly to find a time to talk.
