= provide(:title, "Thanks")
.article-wrapper
  %article.type-system-sans
    %h1 You're In!
    %h2 Thanks for signing up! You're all set.
    %h3 As soon as the site is ready to launch, you'll be the first to know!
