%section.blurb
  %h2 About
  %p
    This website is my personal site and I use it as a coding playground and It's built with Ruby on Rails. I love to code and I use this website to learn new techniques.
  %ul.actions
    %li= link_to "Learn More", about_path, class: "button"
