%form#_form_69{"accept-charset" => "utf-8", :action => "//joehale.activehosted.com/proc.php", :enctype => "multipart/form-data", :method => "post"}
  %input{:name => "f", :type => "hidden", :value => "69"}/
  %input{:name => "s", :type => "hidden", :value => ""}/
  %input{:name => "c", :type => "hidden", :value => "0"}/
  %input{:name => "m", :type => "hidden", :value => "0"}/
  %input{:name => "act", :type => "hidden", :value => "sub"}/
  %input{:name => "nlbox[]", :type => "hidden", :value => "4"}/
  ._form
    .formwrapper
      #_field192
        #compile192._field._type_input
          ._label
            Full Name
          ._option
            %input{:name => "fullname", :type => "text"}/
      #_field190
        #compile190._field._type_input
          ._label
            Email *
          ._option
            %input{:name => "email", :type => "email"}/
      #_field191
        #compile191._field._type_input
          ._option
            %input{:type => "submit", :value => "Tell me when you launch!"}/
