%li
  = link_to sodas_path do
    %h3 Sodas
    %p My soda reviews
%li
  = link_to bottlers_path do
    %h3 Bottlers
    %p Bottler information pages
%li
  = link_to about_path do
    %h3 About
    %p More about me
